@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/leaguespartan-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('/fonts/leaguespartan-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
      url('/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg'); /* Legacy iOS */
      font-weight: bold;
      font-style: normal;
}
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	background: #C7A88D;
	color: #C3B79D;
	font-family: 'League Spartan', 'Archivo Black', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}
img { width: 100%; }

/* styles for svncrwns UC theme */
.big-logo {
	bottom: -4em;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.col-6 {
	height: 35vh;
	overflow: hidden;
	width: 100%;
}
.container {
	margin: 0 auto;
	position: relative;
	width: 90%;
}
.hero-content {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 80%;
	z-index: 2;
}
.hero-text {
	font-size: 3.7em;
	letter-spacing: 12px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 21vh;
	width: 100%;
	z-index: 3;
}
.logo {
	width: 3em;
}
.logo2 {
	float: right;
	width: 4.5em;
}
.site-header {
	margin: 15px 15px 30px 15px;
}
.small-logo {
	display: block;
	margin: 0 auto;
	width: 1em;
}

/* Media Queries */
@media screen and (min-width: 400px) {
	.container {
		width: 380px;
	}
}
@media screen and (min-width:500px) {
	.col-6 {
		height: 40vh;
	}
	.container {
		width: 480px;
	}
	.hero-text {
		top: 23vh;
	}
}
@media screen and (min-width:600px) {
	.container {
		width: 580px;
	}
	.hero-text {
		top: 28vh;
	}
}
/* this is where the layout breaks to desktop view 700px */
@media screen and (min-width: 700px) {
	.col-6 {
		float: left;
		height: auto;
		width: 50%;
	}
	/* this is adjusted just for iPad view */
	div.hero-content > div.col-6.first {
		width: 75%;
		height: 45vh;
	}
	/* this is adjusted just for iPad view */
	div.hero-content > div.col-6.second {
		width: 70%;
		height: 45vh;
		margin-top: -6em;
		margin-left: 10em;
		opacity: 0.8;
	}
	.container {
		width: 680px;
	}
	.hero-content {
		width: 90%;
	}
	/* this is adjusted just for iPad view */
	.hero-text {
		/*top: 25vh;*/
		transform: rotate(-90deg);	
		left: -2.4em;
		top: 7.7em;
	}
	.site-header {
		margin: 30px 50px 30px 50px;
	}
}
@media screen and (min-width: 1000px) {
	.big-logo_img {
		width: 65%;
	}
	/*.col-6 {
		height: 75vh;
	}*/
	/* this is adjusted just for iPad Pro view */
	div.hero-content > div.col-6.first {
		width: 65%;
		height: 45vh;
	}
	/* this is adjusted just for iPad Pro view */
	div.hero-content > div.col-6.second {
		width: 70%;
		height: 50vh;
		margin-top: -12em;
		margin-left: 10em;
	}
	.container {
		width: 980px;
	}
	/* this is adjusted just for iPad view */
	.hero-text {
		/*top: 35%;*/
		top: 5.3em;
		left: -4.6em;
	}
	.site-header {
		margin: 30px 50px 30px 50px;
	}
}
@media screen and (min-width: 1350px) {
	.big-logo_img {
		width: 45%;
	}
	.container {
		width: 1320px;
	}
	.col-6 {
		float: left;
		height: auto;
		width: 50%;
	}
	/* this is adjusted just for Desktop view */
	div.hero-content > div.col-6.first {
		float: left;
		height: 80vh;
		width: 50%;
	}
	/* this is adjusted just for Desktop view */
	div.hero-content > div.col-6.second {
		float: left;
		height: 80vh;
		width: 50%;
		margin-top: 0;
		margin-left: 0;
		opacity: 1;
	}
	/* this is adjusted just for Desktop view */
	.hero-text {
		transform: rotate(0deg);	
		top: 25vh;
		left: 0;
	}
}