# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
img/hero1.png
img/hero2.png
img/hero3.jpg
img/hero4.jpg
img/hero5.jpg
img/hero6.jpg
img/hero7.jpg
img/hero8.jpg
img/hero9.jpg
